<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/calendar">Calendar</a></li>
  <li class="dropdown">
    <a href="/division/Divisions" class="dropbtn">Divisions</a>
    <div class="dropdown-content">
      <a href="/division/Software">Software</a>
      <a href="/division/Hardware">Hardware</a>
      <a href="/division/Systems">Systems</a>
    </div>
  </li>
    <li class="dropdown">
      <a href="/bio/Officers" class="dropbtn">Current Officers</a>
    <div class="dropdown-content">
      <a href="/bio/rob">Club Sponsor</a>
      <a href="/bio/chy">President</a>
      <a href="/bio/mil">VP Software</a>
      <a href="/bio/trw">VP Hardware</a>
      <a href="/bio/vav">VP Systems</a>
      <a href="/bio/jut">ICC/Sec</a>
      <a href="/bio/nit">Treasurer</a>
      <a href="/bio/dah">Communications</a>
    </div>
  </li>
 <li class="dropdown">
    <a href="/division/plans/plan" class="dropbtn">Division Plans</a>
    <div class="dropdown-content">
    </div>
  </li>

    <li style="float:right"><a href="/about">About</a></li>
    <li style="float:right"><a href="/contact">Contact</a></li>
</ul>
